.loadingComponent {
  display: flex;
  padding-left: 5%;
}
.loadingComponentText {
  font-size: 1rem;
  font-weight: 500;
}

.counter {
  display: flex;
  min-width: 20vw;
  min-height: 10vh;
  border: 2px solid #a54946;
  border-radius: 15px;
  overflow: hidden;
  margin: 2%;
  background-color: #a54946;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.decreaseBtn {
  width: 33.33%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #a54946;
  background-color: white;
  cursor: pointer;

  border-right: 2px solid #a54946;
}
.inputField {
  width: 33.34%;
  max-width: 33.34%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #a54946;
  background-color: #f8e9e9;
  outline: none;
  border: none;
  text-align: center;
}
.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputField[type="number"] {
  -moz-appearance: textfield;
}

.increaseBtn {
  font-size: 3rem;
  width: 33.33%;
  display: flex;
  font-weight: 600;
  justify-content: center;
  color: white;
  background-color: #a54946;
  cursor: pointer;
}
